<!DOCTYPE html>
<html ng-app="battleshipsApp">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
  <title>Battle ships</title>
</head>
<body ng-controller="battleController as vm" >
        <h1>{{vm.headings.mheading}}</h1><br>
        <h2>{{vm.headings.subheading}}</h2><br>
  <div class="field">
    <div class="zero"></div>
    <div class="top 1">1</div>
    <div class="top 2">2</div>
    <div class="top 3">3</div>
    <div class="top 4">4</div>
    <div class="top 5">5</div>
    <div class="top 6">6</div>
    <div class="top 7">7</div>
    <div class="top 8">8</div>
    <div class="side">A</div>
    
    <div class="center A1" ></div>
    <div class="center A2">
       <a class="divLink" href ng-click="vm.hitTaken()">
         <img ng-src="img/ship_1_ab_1.jpg" ng-show="vm.showImage"/>
       </a>

    </div>
    <div class="center A3"></div>
    <div class="center A4"></div>
    <div class="center A5"></div>
    <div class="center A6"></div>
    <div class="center A7"></div>
    <div class="center A5"></div>

    <div class="side">B</div>
    <div class="center B1">
        <a class="divLink" href ng-click="vm.hitTaken()">
         <img ng-src="img/ship_1_ab_2.jpg" ng-show="vm.showImage"/>
       </a>
    </div>

    <div class="center B2">
      <a class="divLink" href ng-click="vm.hitTaken()">
        <img ng-src="img/ship_1_ab_3.jpg" ng-show="vm.showShip_b2"/>
       </a>
   </div>

    <div class="center B3">
      <a class="divLink" href ng-click="showShip_c3= !showShip_c3">
        <img ng-src="img/ship_1_ab_4.jpg" ng-show="showShip_c3"/>
      </a>

    </div>
    <div class="center B4"></div>
    <div class="center B5"></div>
    <div class="center B6"></div>
    <div class="center B7"></div>
    <div class="center B8"></div>

    <div class="side">C</div>
    <div class="center C1"></div>

    <div class="center C2"></div>

    <div class="center C3"></div>
    <div class="center C4"></div>
    <div class="center C5"></div>
    <div class="center C6"></div>
    <div class="center C7"></div>
    <div class="center C8"></div>
    <div class="side">D</div>
    <div class="center D1"></div>
    <div class="center D2"></div>
    <div class="center D3"></div>
    <div class="center D4"></div>
    <div class="center D5"></div>
    <div class="center D6"></div>
    <div class="center D7"></div>
    <div class="center D8"></div>
    <div class="side">E</div>
    <div class="center E1"></div>
    <div class="center E2"></div>
    <div class="center E3"></div>
    <div class="center E4"></div>
    <div class="center E5"></div>
    <div class="center E6"></div>
    <div class="center E6"></div>
    <div class="center E8"></div>
    <div class="side">F</div>
    <div class="center F1"></div>
    <div class="center F2"></div>
    <div class="center F3"></div>
    <div class="center F4"></div>
    <div class="center F5"></div>
    <div class="center F6"></div>
    <div class="center F7"></div>
    <div class="center F8"></div>
    <div class="side">G</div>
    <div class="center G1"></div>
    <div class="center G2"></div>
    <div class="center G3"></div>
    <div class="center G4"></div>
    <div class="center G5"></div>
    <div class="center G6"></div>
    <div class="center G7"></div>
    <div class="center G8"></div>
    <div class="side">H</div>
    <div class="center H1"></div>
    <div class="center H2"></div>
    <div class="center H3"></div>
    <div class="center H4"></div>
    <div class="center H5"></div>
    <div class="center H6"></div>
    <div class="center H7"></div>
    <div class="center H8"></div>
  </div>
</body>
   <script src="js/angular.min.js"></script>
   <script src="js/app.js"></script>
   <script src="js/controller/battleController.js"></script>
</html>

<!-- free images from http://clipart-library.com/battleship-cliparts.html -->