body{
  background-color: blue;
  font-family: Arial;
  color: white;

}

.field {
  display:grid;
  grid-template-columns: repeat(9, 1fr); /*fraction units makes 2 col.responsive*/
  grid-template-rows:repeat (9, 1fr); 

}

.zero{
   text-align: center;
}

.top{
 border-bottom:2px solid red;
 text-align: center;
}

.side{
  border-right:2px solid red;
  text-align: center;
}
.center{
  border:2px solid red;
  text-align: center;
}

div{
font-size: 1.55em;
padding: 10px;

}
