body{
  background-color: blue;
  font-family: Arial;
  color: white;

}

.field {
  display:grid;
  grid-template-columns: repeat(9, 1fr); fraction units makes 2 col.responsive
  grid-template-rows:repeat (9, 1fr); 
  padding: 0px;

}

.zero{
   text-align: center;
}

.top{
 border-bottom:1.45px dashed #39FF14;
 text-align: center;
 color: black;
}

.side{
  border-right:1.45px dashed #39FF14;
  text-align: center;
  color: black;
}
.center{
  border:1.45px dashed #39FF14;
  text-align: center;
}

div{
font-size: 1.55em;
padding: 10px;

}
